@model AllFragrancesQueryModel

@{
    ViewData["Title"] = "All fragrances";
}

<div class="mb-5"></div>

<form method="get" class="example">
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CategoryName">Category</label>
                <select asp-for="CategoryName" id="categorySelect" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <select asp-for="Sorting" id="sortingSelect" class="form-control">
                    <option value="0" selected>Date Created</option>
                    <option value="1">Name</option>
                    <option value="2">Year</option>
                </select>
            </div>
        </div>

        <div class="col-md-4 d-flex align-items-center">
            <div class="d-flex">
                <input class="form-control" asp-for="SearchTerm" type="text" placeholder="Type to search..">
                <button type="submit" class="btn btn-primary ml-1 text-center"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</form>



<div class="mb-5"></div>

<div class="row" id="fragranceCardsContainer">
    @foreach (var fragrance in Model.Fragrances)
    {
        <div class="col-md-3 fragrance-card" data-category="@fragrance.Category">
            <div class="card mb-3">
                <img class="card-img-top" style="height: auto; width:auto;" src="@fragrance.ImageUrl" alt="@fragrance.Name">
                <div class="card-body">
                    <h5 class="card-title">@fragrance.Name (@fragrance.Year)</h5>
                    <p class="card-text">@fragrance.Type</p>
                    <p class="card-text">@fragrance.Category</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Top Notes: </li>
                    <li class="list-group-item">Middle Notes: </li>
                    <li class="list-group-item">Base Notes: </li>
                </ul>
                <div class="card-body text-center">
                    <a asp-controller="Fragrances" asp-action="Details" asp-route-fragranceId="@fragrance.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var categorySelect = document.getElementById('categorySelect');

        categorySelect.addEventListener('change', function () {
            var selectedValue = categorySelect.value;

            var fragranceCards = document.querySelectorAll('.fragrance-card');

            fragranceCards.forEach(function (card) {
                var showCard = selectedValue === '' || card.dataset.category === selectedValue;

                card.style.display = showCard ? 'block' : 'none';
            });
        });
    });
</script>